* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    border: 0;
    padding: 18px 35px;
    height: 64px;
    border-radius: 5px;
    background-color: #FD6E0A;
}

section{
    margin-top: 130px;
    margin-bottom: 130px;
}
/* Header */
.header{
    background-color: #FFF8F3;
    background-image: url(../images/header_bg.png), url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right,left;
}
nav {
    display: flex;
    justify-content: space-between;
    padding: 50px 220px;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    text-decoration: none;
    list-style: none;
    margin-left: 50px;
}

/* Banner Style */
.banner{
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 230px;
    margin-right: 38px;
    align-items: center;
}
.banner-title{
    font-size: 85px;
    font-weight: 700;
    color: #181818;
    margin-bottom: 20px;
}
.banner-subtitle{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}
.banner-description{
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}
/* Main Section */
main{
    max-width: 1140px;
    margin: 0 auto;
}

/* About Section */
.about{
    background-color: #FFF8F3;
    margin-top: 130px;
    border-radius: 10px;
    padding: 130px 156px;
    text-align: center;
    margin-bottom: 130px;
}
.section-title{
    margin-bottom: 10px;
    color: #181818;
    font-size: 35px;
    font-weight: 700;
}
.section-description{
    margin-bottom: 30px;
    font-size: 18px;
    color: #757575;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about-info{

}
.info-title{
    font-size: 20px;
    color: #757575;
}
.info-description{
    font-size: 20px;
    font-weight: 700;
    color: #474747;
}
/* What i do styles */
.what-i-do{
    text-align: center;
}
.skills-container{
    display: flex;
    text-align: left;
    gap: 24px;
}
.skills{
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
}
.skill-title{
    font-weight: 700;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.skill-description{
    font-size: 16px;
    color: #757575;
}
/* Resume Section Styles */
.resume{
    text-align: center;
}
.resume-content{
    display: flex;
    justify-content: space-evenly;
    text-align: left;
    gap: 24px;
}
.resume>.section-title{
    padding-bottom: 113px;
}
.resume-item{
    padding-top: 30px;
    padding-bottom: 30px;
}
.resume-title{
    font-size: 30px;
    font-weight: 700;
    color: #474747;
    padding-bottom: 30px;
}
.title{
    color: #474747;
    font-weight: 700;
    font-size: 25px;
}
.subtitle{
    color: #757575;
    font-weight: 600;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
}
.description{
    color: #757575;
    font-size: 16px;
    padding-bottom: 30px;
}
hr{
    border: 1px solid #D1D1D1;
}
/* Contact Section Styles */
.contact{
    display: flex;
    gap: 110px;
    background-color: #FFF8F3;
    padding: 130px 200px;
    margin: 0;
}
.contact>.section-title{
    text-align: left;
}
.contact a{
    text-decoration: none;
}
input[type="text"],input[type="email"], textarea{
    margin-bottom: 24px;
    border: 0;
    width: 100%;
    padding: 18px 30px;
}
input{
    height: 64px;
}
